.App {
  text-align: center;
  padding: 20px;
}

.cell {
  height: 50px;
  width: 50px;
  box-shadow: 1px 1px #888888;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.row {
  display: flex;
  width: fit-content;
}

.row:nth-child(2n) {
  background-color: #dcdcdc;
  border-radius: 5px;
}

.visited {
  background-color: #cffce6;
}

.queued {
  background-color: #72aaff;
}

.grid {

}
